@import url('https://fonts.googleapis.com/css2?family=Eater&family=Fascinate+Inline&family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url("./assets/zombie-graveyard.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header {
    outline: 2px solid pink;
    height: 15%;
    width: 69%;
    margin-left: 15.55%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

#game-title {
    font-family: "Eater", serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    color: rgba(244, 244, 33, 0.865);
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#information-space {
    outline: 2px solid rgb(206, 192, 255);
    height: 40%;
    width: 69%;
    margin-left: 15.55%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 25%;
    left: 25%;
    transform: (-50%, -50%);
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    color: black;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#game-display {
    outline: 2px solid rgb(192, 255, 198);
    height: 40%;
    width: 69%;
    margin-left: 15.55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.zombie {
    display: flex;
    flex-direction: column;
  }

.position {
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.zombie-render {
    width: 100px;
    height: auto
}

.zombie-text {
    background-color: aliceblue;
    color: black
}

/* #interactive-components {
    display: flex;
    flex-direction: column;
    gap: 50px;
} */

#player-components {
    outline: 2px solid rgb(255, 228, 192);
    height: 5%;
    width: 69%;
    margin-left: 15.55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline,;
}

.game-buttons {
    outline: 2px solid rgb(255, 192, 248);
    height: 3%;
    width: 69%;
    margin-left: 15.55%;
    display: flex;
    justify-content: center;
    gap: 353px;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-buttons:hover,
.game-buttons:focus {
    cursor: pointer; /* not sure why this is not working */
}

#player {
    font-size: 1.5rem;
    padding: 10px;
}

.invisible {
    display: none;
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    25% {
      transform: translate3d(-10%, 40%, 0);

    }
    50% {
      transform: translate3d(60%, -50%, 0);
    }
    75% {
      transform: translate3d(-60%, 20%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

/* // parent container (same DIV), add a position: relative to parent container 
// if you absolute position the children of a parent container and the parent container is relatively position, will be absolutely conditioned relative to the browser
// z-index, with layering everything has by default a zero index. Where it gets wonky is things like with fixed positions.

// can be weird with position absolute, position fixed. Also override the zero base level.  


*/

/* user a header for title, div/main/section for gameboard, and footer for content */